.ace-editor {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #333;
}

.ace-editor.primary-data-type {
    height: 16px;
}

.ace-editor.primary-data-type.data-type-string {
    height: 32px;
}
